.header {
     margin-bottom: $mb9;
    
    .header__title {
        display: grid;
         grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
         align-items: end;
         justify-content: center;
         margin-bottom: $mb3;
         @media only screen and(max-width: 581px){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align-last: left;
            margin-bottom: 1rem;
               }
    }


    .header__title--title {
        justify-self: start;
        text-align: left;
        margin-bottom: 1rem;
    }
    .header__title--subtitle {
         margin-bottom: 1rem;
    }
    .header__title--switch {
        justify-self: end;
        margin-bottom: 1rem;
    }

    .header__img{
        max-width: $mw;
        
    }
    .switch--language {
        margin-bottom: $mb3;
         @media only screen and(max-width: 581px){
            display: none;
        }
    }
    .switch--nightmod {
         @media only screen and(max-width: 581px){
            display: none;
        }
    }
    
}

//--------night mod--------

.night {
    //background-color: rgb(132, 43, 43);
    background-color: rgb(1, 1, 1) !important;
    transition: all .4s ease-in !important;
    }
    .nightText {
    color: rgb(48, 253, 2) !important;
        
    }