.header {
     margin-bottom: $mb9;

    .header__title {
        display: grid;
         grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
         align-items: end;
         justify-content: center;
         margin-bottom: $mb3;
         
    }


    .header__title--title {
        justify-self: start;
        text-align: left;
        margin-bottom: 1rem;
    }
    .header__title--subtitle {
         margin-bottom: 1rem;
    }
    .header__title--switch {
        justify-self: end;
        margin-bottom: 1rem;
    }

    .header__img{
        max-width: $mw;
    }
    .switch--language {
    }
    .switch--nightmod {
    }
    
}
