.nav {
        margin-bottom: $mb3;
        z-index: 10;
        .nav__ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            justify-items: center;
            padding: 3rem 0;
            border-bottom: 1px solid $color-nav;
        }
        .nav__ul{
            font-size: 1.8rem;
            color: $color-nav;
        }
        .nav__ul  a{
            &:hover {
                color: $color-text;
                cursor: pointer;
                // color: rgb(215, 215, 215);
            }
        }


        //-------js stiky nav

        .stiky {
            width: 100%;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translate( -50%);
            background-color: rgba(255, 255, 255, 0.878);
        }
    }



    