.portfolio {
  @include section;
  @include marginSides;
  background-color: $color-section;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  @media only screen and(max-width: 1199px) {
    margin-right: -15rem;
    margin-left: -15rem;
    padding: 5rem 10rem;
  }
  @media only screen and(max-width: 991px) {
    margin-right: -10rem;
    margin-left: -10rem;
    padding: 5rem 10rem;
  }
  @media only screen and(max-width: 581px) {
    margin-right: -3rem;
    margin-left: -3rem;
    padding: 5rem 1rem;
  }
}
.portfolio__title {
  margin-bottom: $mb3;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__items--img {
  max-width: $mw;
  margin-bottom: $mb3;
}
.portfolio--link {
  margin-bottom: $mb6;
}
#todo {
  width: 70%;
}
